@font-face {
  font-family: 'Horizon';
  src: url('/font/horizon_outlined.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


.main-title {
  font-family: 'Horizon', sans-serif !important;
  font-size: 28px !important;
  line-height: 1.2 !important;
  margin-bottom: 50px !important;
  text-align: center;
  position: relative;
  margin-top: 2px;
}

.main-title::before,
.main-title::after {
  content: 'GENERATIVE ARTIFICIAL INTELLIGENCE';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.main-title::before {
  color: #ff6600 !important;
  z-index: 1;
}

.main-title::after {
  color: white;
  z-index: 2;
  -webkit-text-stroke: 2px orange;
}
.main-title, .publications-title, .publication-title, .publication-authors, p {
  color: white !important; 
}
.publications-card .ant-card-head-title h4.publications-title {
  background-color: white;
  border-radius: 0;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  color: #4c2fec !important;
  flex: 1;
}

.publication-content {
  background-color:#0064b1 !important; 
  padding: 15px;
  flex-grow: 1;
  color: white !important;
  position: relative;
  
}

.publication-title {
  margin: 0;
  font-weight: bold;
}

.publication-authors {
  margin: 5px 0 0;
  font-size: 0.9em;
}

.publication-content::after {
  content: '';
  position: absolute;
  left: -90px; 
  right: -50px; 
  bottom: 5px; 
  height: 2px;
  background: linear-gradient(to right, #8c52ff, #f674aa);
  z-index: 1;
}


.page-container {
  padding: 20px;
  background-color: #f0f2f5;
}

.research-publication-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.research-card, .publications-card {
  flex: 0 1 35%; 
  border-radius: 50px; 
  padding: 25px;
}
.publications-card{
  border-radius: 0px; 
  border-style: groove;
}

.research-card {
  background-color: #0064b1; 
  color: #ffffff !important; 
  padding: 10px; 
  margin-right: 10px;
}


.publications-title {
  color: #0064b1 !important; 
  text-decoration-line: underline;
}


.publication-item {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  position: relative; 
}

.publication-name, .publication-authors {
  transition: transform 0.2s ease-in-out; /* Apply transition to text */
  display: block; /* Ensure text elements behave correctly during transformation */
}

.publication-content:hover .publication-name, .publication-content:hover .publication-authors {
  transform: translateX(-10px); /* Only move text to the left */
  color: #4db1ef !important;
}

.publication-name {
  margin: 0;
  font-weight: bold;
}

.publication-authors {
  margin-top: 5px;
  font-size: 0.9em;
}

/* .publication-number {
  background-color: #0064b1;
  color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px; 
  font-weight: bold;
  position: relative; 
  top: 15px;
  left: -10px;
  overflow: auto; 
  flex-shrink: 0;
} */

@media (max-width: 768px) {
  .research-publication-container {
      flex-direction: column; /* Stack the cards vertically on smaller screens */
      align-items: center;
  }

  .research-card, .publications-card {
      flex: 0 1 90%; /* Cards take more width on smaller screens */
      margin-bottom: 20px;
  }

  .main-title, .publications-title {
      font-size: 20px; /* Smaller font size for smaller screens */
  }

  .publication-number {
      width: 40px; /* Slightly larger for touch friendliness */
      height: 40px;
  }
}

@media (max-width: 480px) {
  .main-title, .publications-title {
      font-size: 18px; /* Even smaller font size for very small screens */
  }

  .publication-title, .publication-authors {
      font-size: 0.8em; /* Smaller font size for publication details */
  }

  .publication-number {
      width: 50px; /* Larger to maintain usability */
      height: 50px;
  }
}