.animated-section.active {
  opacity: 1;
  box-sizing: border-box;
  margin: 0; /* Explicitly remove any margins added by reset */
  padding: 0;
  transform: translateY(0);
  transition: transform 1.2s ease-in-out, opacity 1.2s ease-out 0.2s; /* Delay opacity slightly */
}

.animated-section h1,
.animated-section p {
  opacity: 0;
  transform: translateY(0);
  transition: transform 1.2s ease-in-out, opacity 1.2s ease-out 0.1s;
  transition-delay: 0.1s;
}

.animated-section.active h1,
.animated-section.active p {
  opacity: 1;
  transform: translateY(0);
}
/* Particle background styling */
#tsparticles {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  z-index: 1; /* Ensure particles are in the background */
  transition: transform 0.1s ease-in-out, opacity 0.1s ease-in-out 0.1s; /* Match this duration to carousel transition */
}

.main-container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  box-sizing: border-box;
  width: 100vw;
  margin: 0; /* Explicitly remove any margins added by reset */
  padding: 0;
  overflow: hidden; /* Hide overflow to ensure no scrollbars appear */
  position: relative; /* Needed for absolute positioning of children if necessary */
}

/* Carousel section general styles */
.section {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  background-color: black;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5vw;
  margin: 0; /* Explicitly remove any margins added by reset */
  text-align: left;
  box-sizing: border-box;
  transition: transform 0.8s ease-in-out;
}

.section h1, .section p {
  max-width: 40vw;
  margin-left: 20px;
}
.section h1{
  color: #ffffff;
}
.section p {
  text-align: justify;
  line-height: 2; 
  color: white;
}

/* Adjusting the visibility and functionality of the default dots */
.ant-carousel .slick-dots {
  position: fixed; /* Ensures dots do not move with the carousel */
  bottom: 20px;
  left: 3%; /* Move dots to the right corner */
  z-index: 100; /* Ensures dots are above other elements */
}

.ant-carousel .slick-track {
  transition: opacity 1.2s ease-in-out !important /* Adjust this duration */
}

/* Custom styles for the vertical slider */
.vertical-slider {
  -webkit-appearance: none;
  top: 50%;
  transform: translateY(-50%);
  height: 200px;
  width: 10px;
  background: #ccc;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.3s;

  /* Styling for the slider thumb */
  -webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
  }

  /* Firefox compatibility for the thumb */
  ::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4CAF50;
    cursor: pointer;
  }
}

/* Styling for mobile responsiveness */
@media (max-width: 768px) {
  .section {
    padding: 10px;
  }

  .vertical-slider {
    height: 150px; /* Shorter slider for smaller screens */
  }
}
