.header {
  display: flex;
  padding-bottom: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 3px solid black;
  font-family: 'SF Pro Black';
  color: white;
  box-sizing: border-box;
}
.head{
  font-weight: bold;
  font-size: 2.5rem; 
  color:black;
}

@media (max-width: 424px) {
  .head {
    font-size: 2.3rem; /* Reduced font size for mobile devices */
  }
}
