.header {
  display: flex;
  padding-bottom: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 2%;
  border-bottom: 3px solid black;
  font-family: 'SF Pro Black';
  color: white;
}
.head{
  font-weight: bold;
  font-size: 2.5rem; 
  color:black;
}


