.cover-wrapper {
  display: grid;
  gap: 1rem;
}

.cover-wrapper-1-col {
  grid-template-columns: 1fr;
}

.cover-wrapper-2-col {
  grid-template-columns: 1fr 1fr;
}

.cover-wrapper-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}

.cover {
  height: 405px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.025);
  border-radius: 1.5rem;
  transition: all 0.2s ease-in-out;

  max-width: 350px; /* Adjust this value to set a maximum width for the card */
  margin: 0 auto;
}
.cover-image img {
  width: 95%; /* Ensure the image fills the width of the cover-image div */
  height: auto; /* Maintain aspect ratio */
}

.cover:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.05);
  transform: scale(1.03);
}

.cover-inner {
  padding: 0.5rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.cover-title {
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 600;
  color: #313131;
  line-height: 1.3;
}

.cover-title a {
  color: #313131;
}

.cover-top a:hover {
  text-decoration: none !important;
}

.cover-subtitle {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  line-height: 1.1rem;
  font-weight: 400;
}

.cover-footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.cover-venue,
.cover-year,
.cover-links {
  font-size: 0.75rem;
}

.cover-venue,
.cover-year {
  padding-bottom: 0.5rem;
}

.cover-venue {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.cover-year {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

.cover-image {
  width: 100%;
  padding: 0.5rem;
}

.cover-image > a > img {
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: white;
}

.cover-link {
  text-decoration: none;
}

.cover-links > .pub-misc {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  align-items: flex-start;
}

.cover-links > .pub-misc > a {
  background-color: #ffffff;
  padding: 0.25rem 0.55rem 0.25rem 0.55rem !important;
  border-radius: 1rem;
  margin-right: 0rem;
}

.cover-links > .pub-misc > a:hover {
  color: #ffffff !important;
  background-color: #357edd;
}

@media screen and (max-width: 1100px) {
  .cover-wrapper {
    grid-column: page;
    justify-content: left;
  }

  .cover {
    margin-left: 0rem;
    width: auto;
  }
}

@media (max-width: 768px) {
  .cover-wrapper {
    grid-column: page;
    justify-content: left;
    grid-template-columns: 1fr;
  }

  .cover {
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }
}

/*

*/

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

.category {
  margin-bottom: 40px;
  text-align: center;
}

.category-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #3d3b42;
  text-align: center;
}

.category-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 16px;
  justify-content: center;
}

.lead-category .category-cards {
  display: flex; /* Use flex layout */
  justify-content: center; /* Center the card horizontally */
  align-items: center; /* Center the card vertically */
  /* height: 100vh;  */
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 500px; /* Set a fixed height for the card */
  padding: 16px;
  text-align: center;
  transition: transform 0.2s;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure proper spacing of content */
}

.card:hover {
  transform: scale(1.05); /* Apply zoom-in effect */
  /* transition: all 0.2s ease-in-out; */
}

.card-image-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container area without distorting */
  object-position: center;
}

.card-title {
  font-size: 1.5em;
  margin-top: 10px 0;
  color: #3d3b42;
}

.card-degree,
.card-role,
.card-advisor,
.card-description {
  font-size: 1em;
  margin-top: 8px;
  color: #211a1d; /* Raisin color */
}
.card-info {
  display: flex;
  justify-content: flex-start;
}
.card-description {
  white-space: pre-wrap;
  flex-grow: 1;
}

.card-advisor {
  font-style: italic;
}

.card-links {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}

.card-link {
  /* background-color: #3d3b42;  */
  color: #3d3b42;
  padding: 4px 8px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.card-link:hover {
  background-color: #7e7c82; /* Indigo color */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .category-cards {
    grid-template-columns: 1fr; /* Single column layout */
    gap: 16px;
  }

  .lead-category .category-cards {
    height: auto; /* Remove full height on mobile */
    display: block; /* Use block layout for single card */
    gap: 16px;
  }
}
