.category-team {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: black;
}

.category-title-team {
  color: white;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 3em;
  font-family: "SF Pro Black", sans-serif;
  font-weight: 900;
  letter-spacing: 1.1px;
}

.cover-wrapper-team,
.cover-wrapper-team-top {
  display: grid;
  gap: 6rem 6rem; /* Explicitly set both row and column gaps */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
}

.cover-wrapper-team > *,
.cover-wrapper-team-top > * {
  margin: 0; /* Remove margins from grid items */
  padding: 0; /* Remove padding from grid items */
}

@media (max-width: 768px) {
  .cover-wrapper-team,
  .cover-wrapper-team-top {
    grid-template-columns: 1fr;
  }

  .cover-wrapper-team > *,
  .cover-wrapper-team-top > * {
    margin: 0; /* Ensure no margins are added in media queries */
  }
}
