.category-team {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.category-team {
  /* background-image: url("../../utilities/images/team_background.png"); */
  background-size: cover; /* This makes sure the image covers the entire div */
  background-position: center; /* This centers the image */
  background-repeat: no-repeat; /* This prevents the image from repeating */
  background-color: #f9f7f7;
  padding: 20px; /* Example padding */
}
.category-title-team {
  color: black;
}

.category-title-team {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cover-wrapper-team {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}
.cover-wrapper-team-top {
  display: grid;
  gap: 2rem;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.cover-wrapper-1-col-team {
  grid-template-columns: 1fr;
}

.cover-wrapper-2-col-team {
  grid-template-columns: 1fr 1fr;
}

.cover-wrapper-3-col-team {
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 1100px) {
  .cover-wrapper-team {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .cover-wrapper-team {
    grid-template-columns: 1fr;
  }

  .cover-team {
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0rem !important;
    margin-right: 0rem !important;
  }
}
