.team-card {
  height: 350px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 1.5rem;
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
  animation: fadeIn 1s ease-in-out;
  border: 2px solid rgba(0, 0, 0, 0.03);
}

.team-card:hover .team-card-image {
  background: #007bff;
}

.team-card-image {
  display: flex;
  width: 155px; /* Adjust size as needed */
  height: 155px; /* Adjust size as needed */
  justify-content: center;
  margin: 10px auto;
  border-radius: 50%;
  padding: 5px; /* Adjust padding as needed for the border thickness */
  background: #d3e9f3; /* Outer circle color */
}

.team-card-image-img {
  width: 150px; /* Increased size */
  height: 150px; /* Increased size */
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}

.team-card:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.9);
  transform: scale(1.03);
}

.team-card-inner {
  padding: 0.5rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.team-card-title {
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 600;
  color: #313131;
  line-height: 1.3;
}

.team-card-title a {
  color: #313131;
}

.team-card-top a:hover {
  text-decoration: none !important;
}

.team-card-subtitle,
.team-card-role,
.team-card-advisor {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  line-height: 1.1rem;
  font-weight: 400;
}

.team-card-description {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.6);
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  line-height: 1.1rem;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -line-clamp: 5; /* Limit to 5 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: calc(1.1rem * 5 + 0.35rem * 2);
}

.team-card-description ul {
  padding-left: 20px;
}

.team-card-footer-wrapper {
  display: flex;
  justify-content: center;
}

.team-card-links {
  font-size: 0.75rem;
}

.team-card-links > .team-card-misc {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: flex-start;
}

.team-card-links > .team-card-misc > a {
  background-color: #ffffff;
  padding: 0.25rem 0.55rem 0.25rem 0.55rem !important;
  border-radius: 1rem;
  margin-right: 0rem;
  color: #007bff; /* Link color */
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  border: 1px solid #c9c9c9;
}

.team-card-links > .team-card-misc > a:hover {
  color: #ffffff !important;
  background-color: #007bff; /* Hover background color */
}

.team-card-learn-more {
  text-align: center;
  margin-top: 15px;
}

.team-card-learn-more a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease-in-out;
  font-size: 0.8em;
}

.team-card-learn-more a .arrow {
  font-size: 1rem;
  transition: margin-left 0.3s ease-in-out;
}

.team-card-learn-more a:hover .arrow {
  margin-left: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
