/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 1px; /* Set scrollbar width to 1px */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Optional: Rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); /* Background color of the scrollbar track */
}
