.individual-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../../utilities/images/team_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  padding: 20px;
}

.first-section {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  align-items: stretch; /* Ensures children have the same height */
}

.profile-section,
.bio-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.profile-section {
  flex: 1;
  text-align: center;
}
.bio-section {
  flex: 4;
  text-align: justify;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ccc;
  margin: auto;
}

.designation {
  font-weight: bold;
  margin: 10px 0;
}

.email a {
  color: #0066cc;
  text-decoration: none;
}

.research-areas {
  margin: 10px 0;
  text-align: center;
}

.research-areas {
  margin: 20px 0;
}

.research-areas .areas {
  display: flex;
  justify-content: center;
}

.research-areas .areas div {
  width: 100px;
  height: 100px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  margin: 5px;
  border-radius: 10px;
}

.other-sections {
  text-align: left;
  background-color: transparent;
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px;
}

.other-sections h2 {
  cursor: pointer;
  padding-bottom: 5px;
  margin: 10px 0;
  transition: color 0.3s ease;
}

.other-sections h2:hover {
  color: #0066cc;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding: 0 20px; /* Ensure padding is set correctly when collapsed */
  border: 1px solid #ccc;
  margin: 10px 0;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.content.show {
  max-height: 200px; /* Adjust based on your content */
  padding: 10px 20px;
}

footer {
  margin-top: 20px;
  text-align: center;
}

footer button {
  padding: 10px 20px;
  background-color: #0066cc;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

footer button:hover {
  background-color: #004c99;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .first-section {
    flex-direction: column;
    width: 100%;
  }

  .profile-section {
    margin: 20px;
  }

  .bio-section {
    margin: 20px;
  }

  .research-areas .areas {
    flex-direction: column;
    align-items: center;
  }

  .research-areas .areas div {
    width: 80%;
    margin-bottom: 10px;
  }
}

.individual-page-link-wrapper {
  display: flex;
  justify-content: center;
}

.individual-page-links {
  font-size: 0.75rem;
}

.individual-page-links > .individual-page-misc {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: flex-start;
}

.individual-page-links > .individual-page-misc > a {
  background-color: #ffffff;
  padding: 0.25rem 0.55rem 0.25rem 0.55rem !important;
  border-radius: 1rem;
  margin-right: 0rem;
  color: #007bff; /* Link color */
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  border: 1px solid #c9c9c9;
}

.individual-page-links > .individual-page-misc > a:hover {
  color: #ffffff !important;
  background-color: #007bff; /* Hover background color */
}
