.home-team-container {
  text-align: center;
  background-color: black;
  padding: 50px 0;
}

.home-team-container h1 {
  font-size: 3.5em;
  font-family: "SF Pro Black", sans-serif;
  color: white;
  font-weight: 900;
  margin-bottom: 1em;
  letter-spacing: 1.1px;
}

.home-team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.home-team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.home-team-img {
  border-radius: 25%;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.home-team-member h2 {
  font-size: 1.2em;
  font-family: "SF Pro Black", sans-serif;
  color: white;
}

.home-team-member p {
  font-size: 1em;
  font-family: "SF Pro Black", sans-serif;
  color: white;
  text-align: center;
}

@media (max-width: 768px) {
  .home-team-container h1 {
    font-size: 2.5em;
  }

  .home-team-member h2 {
    font-size: 1em;
  }

  .home-team-member p {
    font-size: 0.8em;
  }
  .home-team-img {
    height: 150px;
  }
}
