.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #000;
}

/* Add the slideDown animation only when the 'animate-slide' class is added */
.animate-slide {
  animation: slideDown 1s ease-in-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.nav-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  height: 5vh;
  position: relative;
}

.dots-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-top: 15px;
}

.dots-container:hover {
  transform: translateX(-50%) rotate(45deg);
}

.dot {
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .nav-inner-container {
    padding: 0 15px;
  }
}

@media (max-width: 480px) {
  .nav-inner-container {
    padding: 0 10px;
  }
}
