/* NewHeader.css */
.home-nav-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.home-nav-bar-transparent {
  background-color: transparent;
  color: white;
}

.home-nav-bar-solid {
  background: linear-gradient(
    to right,
    #0064b1,
    #003366
  ); /* Gradient background */
  color: white;
}

.home-nav-bar-logo-container {
  width: 40%;
  display: flex;
  align-items: center;
}

.home-nav-bar-logo {
  width: 50px;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.home-nav-bar-menu-container {
  width: 55%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
}

.home-nav-bar-menu-items {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.home-nav-bar-menu-items .ant-menu-item {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  border-bottom: none !important;
}

.home-nav-bar-menu-items .ant-menu-item::after {
  display: none !important;
}

.home-nav-bar-menu-items .ant-menu-item:hover,
.home-nav-bar-menu-items .ant-menu-item-selected {
  color: #0064b1 !important;
  background: transparent !important;
  border-bottom: none !important;
}

.home-nav-bar-menu-button {
  display: none;
}

/* Ensure content does not overlap with navbar on non-home pages */
.page-content {
  padding-top: 70px; /* Adjust this value to the height of your navbar */
}

/* Responsive styling */
@media (max-width: 768px) {
  .home-nav-bar-menu-items {
    display: none;
  }

  .home-nav-bar-menu-button {
    display: inline-block;
    font-size: 1.5rem;
  }

  .home-nav-bar-logo {
    width: 40px;
  }

  .home-nav-bar-menu-items .ant-menu-item {
    font-size: 1rem;
  }
}
