.job-listings {
  flex-grow: 1;
  overflow-x: hidden;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f8f9fa;
  margin-left: 50px; 
  transition: margin-left 0.3s ease; 
}

.job-card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box; 
}

.job-card h2 {
  font-size: 1.50rem;
  color: #333;
}
.job-card .apply-button {
  position: absolute; 
  top: 50px; 
  right: 50px; 
  font-size: 1rem;
  background-color: #0064b1;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

.job-card .apply-button:hover {
  background-color: rgb(203, 200, 200);
}

@media (max-width: 768px) {
  .job-card .apply-button {
    position: static; /* Make it part of the normal document flow */
    display: block; /* Full width */
    width: 100%;
    margin-top: 20px; /* Add some space at the top */
  }
}
.job-card.description, .job-card.minimum-qualification {
  font-size: 0.95rem;
  color: black;
}

.job-card.minimum-qualification h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.job-card.minimum-qualification ul {
  list-style-type: disc;
  padding-left: 20px;
}
