.desktop-sidebar {
  width: 250px;
  height: 100%;
  background-color: black;
  color: white;
  overflow-y: auto;
  z-index: 1000;
}
.desktop-sidebar {
  width: 250px;       /* Fixed width */
  height: 100%;      /* Full viewport height */
  position: fixed;    
  background-color: black;
  color: white;
  overflow-y: auto;   /* Allows internal scrolling */
  z-index: 1000;      /* Ensures it stays on top of other content */
}

.sidebarMenuButton {
  display: none;
  position: fixed;
  top: 90px;
  left: 20px;
  z-index: 1001;
  color: black;
  background-color: transparent;
}


.sidebarSearch {
  width: calc(100% - 30px);
  padding: 5px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .sidebarMenuButton {
    display: block;
  }

  .desktop-sidebar {
    width: 100%;    
    position: fixed;
    left: -100%;    
    transition: left 0.3s; 
  }
  .desktop-sidebar.active {
    left: 0;       
  }
}

.ant-drawer-content,
.desktop-sidebar {
  background-color: black !important;
  color: white !important;
}

.ant-menu {
  background-color: transparent !important;
  color: white !important;
}

.ant-menu-item {
  color: white !important;
}

.ant-menu-item-selected {
  background-color: #0064b1 !important;
}