.join-us-container {
  font-family: 'SF Pro Black', sans-serif;
  display: flex;
  flex-direction: row; 
  align-items: stretch;
  height: 100vh; /* Changed from height to min-height */
  overflow-y: auto; 
  background-color: #f7f7f7; 
  position: relative;
}

@media (max-width: 768px) {
  .join-us-container {
    flex-direction: column;
  }
}