.join-us-container {
  font-family: 'SF Pro Black', sans-serif;
  display: flex;
  flex-direction: row; 
  align-items: stretch;
  height: 100vh; 
  overflow: hidden; 
  background-color: #f7f7f7; 
  position: relative;
}

@media (max-width: 768px) {
  .join-us-container {
    flex-direction: column;
  }
}