.research-card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 30px;
  border-radius: 15px !important;
  overflow: hidden;
  display: flex;
  flex-direction: column; /* Stack title and content */
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.1) !important;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.8) !important;
  backdrop-filter: blur(5px);
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    box-shadow 0.5s ease;
}

/* Title styling */
.research-card-title {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 2;
}

.research-card-title h3 {
  font-size: 1.8em;
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
}

/* Content styling */
.research-card-content {
  position: relative;
  z-index: 1;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
  border-radius: inherit; /* Inherit the border-radius from the parent card */
}

/* Hover effect to show content */
.research-card:hover .research-card-content {
  opacity: 1;
  transform: translateY(0);
}

/* Description styling */
.research-card-content p {
  font-size: 1em;
  color: white;
  font-weight: 300;
}
