/* Main card styling */
.news-card {
  width: 100%; /* Full width within grid cell */
  height: 20rem;
  text-align: center;
  display: flex; /* Flexbox for internal layout */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.055);
  border-radius: 1.5rem;
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
  animation: fadeIn 1s ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.news-card-container {
  display: flex; /* Use grid layout for the container */
  grid-template-rows: repeat(
    3,
    1fr
  ) !important; /* Responsive grid with flexible columns */
  gap: 20px; /* Space between grid items */
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto; /* Padding around the container */
}

/* Image hover effect */
.news-card:hover .news-card-image {
  background: #031c37;
}

/* Image container styling */

/* Headline styling */
.news-card-headline {
  font-size: 1.1rem;
  font-weight: 700;
  color: #052d57; /* Change this color based on your design */
  text-align: left;
  margin-bottom: 0.5rem;
}

.news-card-image {
  display: flex;
  width: 100%; /* Adjust width */
  height: 60px; /* Adjust height */
  justify-content: center;
  margin: 10px;
  border-radius: 50%;
  padding: 10px;
  background: #d3e9f3; /* Outer circle color */
}

.card-image-style {
  height: auto;
  width: auto;
  border-radius: 10px; /* Adjust the value as needed */
  object-fit: fill;
  max-width: 10px;
  max-height: 50px;
}

/* Image styling */
.news-card-image-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}

/* Card hover effect */
/*
.news-card:hover {
  text-decoration: none;
  background-color: rgb(89, 107, 118);
  transform: translateY(-10px);
}
  */

.news-card:hover {
  text-decoration: none;
  background-color: rgb(243, 246, 248);
  transform: translateY(-10px);
  border-color: #1765cc;
  box-shadow: 0 0 15px rgba(23, 101, 204, 0.7);
}

.news-card:hover .news-card-image {
  background-color: #007bff; /* Ensure this color change is visible */
}

.read-more-link {
  color: #052d57;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  margin-left: 5px;
}

.read-more-link:hover {
  text-decoration: underline;
  color: #007bff;
}

/* Inner card styling */
.news-card-inner {
  padding: 1.5rem 2rem 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: center;
  max-height: 24rem; /* Use full height available */
  overflow: hidden;
  grid-template-rows: 1fr 2fr; /* Two-column grid layout inside the card */
  gap: 0.1rem;
}

.news-card-image-text {
  display: flex;
  align-items: center; /* Vertically align the image and text */
  justify-content: center; /* Horizontally center the content */
  gap: 10px; /* Space between the image and the text */
  margin-bottom: 10px; /* Space below the image-text block */
}

/* Title styling */
.news-card-title {
  font-size: 0.8rem;
  text-transform: capitalize;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.3;
  text-align: left; /* Aligns text to the left */
  width: 100%; /* Ensures the title spans the full width of the container */
  margin-left: 0;
  margin-bottom: 1rem;
  margin-top: 10px;
}

.news-card-title a {
  color: #050338;
}

/* Hover effect for title links */
.news-card-top a:hover {
  text-decoration: none !important;
}

/* Subtitle styling */
.news-card-subtitle {
  text-align: justify;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 0.5rem; /* Existing margin for spacing */
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  /* Adjust height based on your needs */
  overflow: hidden;
  overflow-y: auto;
  max-height: 100px;
  position: relative;
  transition: max-height 0.3s ease-in-out;
  white-space: normal;
  text-overflow: ellipsis;
  font-size: 1rem;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none;
}

.news-card-subtitle.expanded {
  max-height: none;
}

.news-card-subtitle::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.news-card-subtitle:hover {
  max-height: none; /* Allows full content to be visible */
  overflow: auto;
}

/* Role, advisor, and description styling */
.news-card-role,
.news-card-advisor,
.news-card-description {
  font-size: 0.875rem;
  color: rgba(3, 9, 11, 0.6);
  padding-top: 0.35rem;
  padding-bottom: 0.45rem;
  line-height: 1.1rem;
  font-weight: 400;
}

/* Description text styling with line clamp */
.news-card-description {
  display: -webkit-box;
  /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-card-description-wrapper {
  position: relative;
  max-height: 3rem; /* Example of truncation at 3 lines */
  overflow: auto; /* Hide the overflow */
  cursor: pointer; /* Change cursor to indicate hover action */
  transition: max-height 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.news-card-description-wrapper:hover {
  max-height: 10rem; /* Expand the height sufficiently to show full content */
  overflow: visible; /* Reveal the content */
  background-color: #f3f8f9; /* Optional: background change on hover */
  z-index: 1; /* Make sure it stays above other content */
}

.news-card-description ul {
  padding-left: 20px;
}

/* Footer styling */
.news-card-footer-wrapper {
  display: flex;
  justify-content: space-between;
}

/* Links styling */
.news-card-links {
  font-size: 0.75rem;
}

/* Miscellaneous links styling */
.news-card-links > .news-card-misc {
  display: grid;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: flex-start;
}

.news-card-links > .news-card-misc > a {
  background-color: #ffffff;
  padding: 0.25rem 0.55rem !important;
  border-radius: 1rem;
  color: #007bff;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  border: 1px solid #c9c9c9;
}

.news-card-links > .news-card-misc > a:hover {
  color: #621d9b !important;
  background-color: #2e69a8;
}

/* Learn more link styling */
.news-card-learn-more {
  text-align: left;
  margin-top: 15px;
}

.news-card-learn-more a {
  text-decoration: none;
  color: #022445 !important; /* Initial link color */
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out; /* Smooth transition */
  font-size: 0.9em;
  padding: 0; /* Remove padding to avoid box appearance */
  border: none; /* Remove any border to avoid box appearance */
  background-color: transparent; /* Ensure no background box */
}

.news-card-learn-more a:hover {
  color: #1765cc; /* Maintain the text color on hover */
  text-shadow: 0 0 8px rgba(23, 101, 204, 0.8); /* Glowing effect around text */
}

.news-card-learn-more a .arrow {
  font-size: 1rem;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.news-card-learn-more a:hover .arrow {
  color: #1765cc; /* Maintain the arrow color on hover */
  text-shadow: 0 0 8px rgba(23, 101, 204, 0.8); /* Glowing effect around arrow */
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Timeline styling */
.timeline {
  position: relative;
  overflow: hidden;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #007bff;
}

/* Timeline event styling */
.timeline-event {
  position: relative;
  margin-bottom: 50px;
  will-change: opacity, transform;
}

.timeline-event:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -6px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #007bff;
  border: 2px solid #fff;
}

/* Timeline content styling */
.timeline-content {
  padding-left: 20px;
}

/* Animation for timeline event */
.timeline-event {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
