.home-lab-news-container {
  text-align: center;
  background-color: #0064b1;
  padding: 50px 0;
}

.home-lab-news-container h1 {
  font-size: 3.5em;
  font-family: "SF Pro Black", sans-serif;
  color: white;
  font-weight: 900;
  margin-bottom: 1em;
  letter-spacing: 1.1px;
}

.home-view-all-btn {
  background: none;
  border: 2px solid white;
  border-radius: 25px;
  padding: 15px 40px;
  color: white;
  font-family: "SF Pro Black", sans-serif;
  font-size: 1em;
  cursor: pointer;
  margin-top: 5em;
  font-weight: bold;
  letter-spacing: 1.1px;
}

.home-view-all-btn:hover {
  background-color: white;
  color: #0064b1;
}

.home-slick-prev,
.home-slick-next {
  z-index: 1;
}

.home-slick-dots li button:before {
  color: white;
}

.slick-slide {
  padding: 5px;
}
.slick-track {
  height: 100px;
}

.home-news-card {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  text-align: left;
}

.home-news-card h2 {
  font-size: 1.5em;
  font-family: "SF Pro Black", sans-serif;
  color: #0064b1;
  margin-bottom: 0.5em;
}

.home-news-card p {
  font-size: 1em;
  font-family: "SF Pro Black", sans-serif;
  color: #0064b1;
}

@media (max-width: 768px) {
  .home-lab-news-container h1 {
    font-size: 2.5em;
  }

  .home-view-all-btn {
    font-size: 0.8em;
    padding: 8px 16px;
  }

  .home-news-card {
    padding: 10px;
  }
}
