.home-news-card {
  background-color: white;
  border-radius: 0px;
  padding: 20px;
  text-align: left;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-news-card h3 {
  font-size: 1.5em;
  font-family: "SF Pro Black", sans-serif;
  color: #0064b1;
  margin-bottom: 0.5em;
  text-align: center;
}

.home-news-card p {
  font-size: 1em;
  font-family: "SF Pro Black", sans-serif;
  color: #0064b1;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .home-news-card {
    padding: 15px;
  }

  .home-news-card h3 {
    font-size: 1.3em;
  }

  .home-news-card p {
    font-size: 0.9em;
  }
}

@media (max-width: 768px) {
  .home-news-card {
    padding: 10px;
    margin: 5px;
  }

  .home-news-card h3 {
    font-size: 1.2em;
  }

  .home-news-card p {
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  .home-news-card {
    padding: 5px;
    margin: 5px;
  }

  .home-news-card h3 {
    font-size: 1em;
  }

  .home-news-card p {
    font-size: 0.7em;
  }
}
