.home-news-card {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  text-align: left;
}

.home-news-card h2 {
  font-size: 1.5em;
  font-family: "SF Pro Black", sans-serif;
  color: #0064b1;
  margin-bottom: 0.5em;
}

.home-news-card p {
  font-size: 1em;
  font-family: "SF Pro Black", sans-serif;
  color: #0064b1;
}
